* {
    box-sizing: border-box;
    border: 1px solid black;

}
header {
    padding-top: 20px;
    // padding-bottom: 20px;
    // button {
    //     background-color: transparent;
    // }
}

body {
}
header {
    height: auto;
}
#logo {
    width: 100%;
}
