* {
  box-sizing: border-box;
}

.clearfix {
  overflow: auto;
}

body {
  background-color: #F5F5F1;
}

header {
  padding-top: 20px;
}

header {
  height: auto;
}

#logo {
  width: 100%;
}

#searchResultsSection {
  display: block;
}

#searchResultsSection img {
  width: 100%;
}

#searchResultsSection .cardClass {
  padding: 9px;
  margin-top: 15px;
  margin-bottom: 15px;
}
